>>> PROGRAM_NAME
>>> ARGS

if ARGS.length > 0
    say "ARGS[1] ($(ARGS[1])) == 'one'? $(ARGS[1] == "one")"

func foo(ARGS:Int)
    fail "Args is: $ARGS" unless ARGS == 5
    say "Shadowing ARGS works"

foo(5)
