>>> "Hello world".b64_encode()
=== "SGVsbG8gd29ybGQ="
>>> "".b64_encode()
=== ""

>>> "SGVsbG8gd29ybGQ=".b64_decode()
=== Base64Decode.Success(Success="Hello world")
>>> "SGVsbG8gd29ybGQ==".b64_decode()
=== Base64Decode.Failure
>>> "".b64_decode()
=== Base64Decode.Success(Success="")
>>> "!!!!".b64_decode()
=== Base64Decode.Failure
