>>> "Hello world".b64_encode()
=== "SGVsbG8gd29ybGQ="
>>> "".b64_encode()
=== ""

>>> "SGVsbG8gd29ybGQ=".b64_decode()
=== Success(Success="Hello world")
>>> "SGVsbG8gd29ybGQ==".b64_decode()
=== Failure
>>> "".b64_decode()
=== Success(Success="")
>>> "!!!!".b64_decode()
=== Failure
