x := [i*100 for i in 1..10]
say "$x"

z := [i*100 unless i mod 3 == 0 for i in 1..10]
say "$z"

w := [i*100 if i mod 2 == 0 for i in 1..10]
say "$w"

p := [s if i mod 2 == 0 for i,s in ["a","b","c","d"]]
say "$p"

// t := {[i]=i*i for i in 1.. stop if i > 6}
// say "$t"

// t2 := {[v]=k for k,v in t}
// say "$t2"

nested := [[1,2,3], [4,5,6]]
x := [i if i mod 2 == 0 for i in row for row in nested]
fail unless "$x" == "[2, 4, 6]"
