if 1 < 5 and 1 == 1
    say "Int comparison working"
else
    fail "Int comparison broken"

// if "a" < "bcde" and "a" == "a"
//     say "Str comparison working"
// else
//     fail "Str comparison broken"

if yes xor no xor no
    say "xor works!"
else
    fail "xor broken"
