
def doop(xs:[Str])
    for i, x in xs
        say "$i) Loop: $x"
        prev := x
    between
        say "Between: $prev -> $x"
    say "Done!"

    for i,x in 5..20 by 2
        say "$i) $x"
        prev := x
    between
        say "Between: $prev -> $x"


xs := ["one","two","three"]
doop(xs)

def IntStack {
    i:Int
    next:?IntStack
}

stack := !IntStack
for i in 1..10
    stack = @IntStack{i, stack}

for s in stack
    say "$s.i"
