
func sum100()->Int
    sum := 0
    for i in 1..100
        sum += i
    return sum

struct Global{}
    // Constant value
    val := 123
    // Calling a function
    sum100 := sum100()

>>> Global

// func doop()
//     >>> Global.val
//     === 123
//     >>> Global.sum100
//     === 5050

//     // just for funsies:
//     >>> g := Global{}
//     >>> g
//     === Global{}
//     >>> g == Global{}
//     === yes

//     >>> [g,g,g]
//     >>> {g=>g}

// doop()
