>>> addOne := (x:Int64)-> x + 1
>>> addOne
=== (Int64)->Int64
>>> addTwo := (x:Int64)-> x + 2
>>> addThree := (x:Int64)->
    if x == 1
        return x + 3
    x + 2

>>> addOne(1)
=== 2
>>> addTwo(1)
=== 3
>>> addThree(1)
=== 4

>>> thunk := -> "Arrow thunks work"
>>> thunk
=== ()->String
>>> thunk()
=== "Arrow thunks work"
