>>> mod2 := use module2.sss
>>> mod2.val
=== 123
>>> mod2.plain_func()
=== 456
>>> mod2.Struct{4}
=== Struct{x=4}
>>> mod2.Struct{4}.method()
=== 5
>>> mod2_copy := use ../test/module2.sss
>>> mod2.random_val == mod2_copy.random_val
=== yes
>>> type MyType := struct(x:mod2.Struct)
>>> MyType{mod2.Struct{4}}
=== MyType{x=Struct{x=4}}
>>> func foo(s:mod2.Struct)->Int
        return s.x
>>> foo(mod2.Struct{6})
=== 6
