should_nil := yes
s := if should_nil then !String else @"Not nil"
say "$s (Optional(String) $(if s is @x then "wasn't" else "was") nil)"
say(*(s or @"Nah"))

// fn := if should_nil then nil (String)->Void else ?(s:String)-> say(s)
// maybe_log := fn or (s:String)-> say("...")
// maybe_log("Hello")

def maybe_str(s:String,nil_it:Bool)->?String
    if nil_it
        return !String
    else
        return ?s

say(*(maybe_str("hi", no) or @"XXX"))
foo := maybe_str("hi", no)
say "$foo"

>>> maybe_int := ?5
>>> typeof maybe_int
=== ?Int64
>>> maybe_int!
=== @5
>>> typeof maybe_int!
=== @Int64
>>> typeof (maybe_int or fail)
=== @Int64
>>> typeof (maybe_int or @6)
=== @Int64
