should_nil := yes
s := if should_nil then !Str else @"Not nil"
say "$s (Optional(Str) $(if s matches @?_ then "wasn't" else "was") nil)"
say((s or @"Nah")[])

func maybe_str(s:Str,nil_it:Bool)->?Str
    if nil_it
        return !Str
    else
        return @s

say((maybe_str("hi", no) or @"XXX")[])
foo := maybe_str("hi", no)
say "$foo"

>>> maybe_int := if yes then @5 else !Int
>>> typeof maybe_int
=== ?Int64
>>> (maybe_int or fail)
=== @5
>>> typeof (maybe_int or fail)
=== @Int64
>>> typeof (maybe_int or @6)
=== @Int64
