
>>> r := 5..10 by 2
>>> r.first
=== 5
>>> r.last
=== 10
>>> r.step
=== 2
>>> r.length
=== 3

for i,x in r
    say "$i) $x"

// for i,x in -r
//     say "$i) $x"

for i,x in 100..97
    say "$i) $x"

for i in 1..
    say "$i..."
    stop if i >= 4

for i in 1.. by 2
    say "odd $i..."
    stop if i >= 4

>>> "abcdef"[-1..]
=== "abcdef"

>>> range := -1..
>>> "abcdef"[range]
=== "abcdef"

>>> "abcdef"[-1.. by 3]
=== "be"

>>> "abcdef"[7.. by -2]
=== "eca"
