def fail_bool(msg:Str)->Bool
    fail "Test failed: $msg"

if no or yes or fail_bool("or failed to short circuit")
    say "or pass"
else fail "'or' gave wrong result"

if yes and no and fail_bool("and failed to short circuit")
    fail "and gave wrong result"
else say "and pass"

// tmp := no
// tmp or= yes
// tmp or= fail_bool("or= failed to short circuit")
// say "or= pass"
// fail "or= gave wrong result" unless tmp

// tmp = yes
// tmp and= no
// tmp and= fail_bool("and= failed to short circuit")
// say "and= pass"
// fail "and= gave wrong result" if tmp

def doop()->Str
    maybe_str := if yes then !Str else @"ok"
    x := maybe_str or return "Successfully short circuited with return"
    fail "Failed to short circuit"

say doop()

for i in 1..5
    maybe_str := if yes then !Str else @"ok"
    x := maybe_str or stop
    fail "Failed to short circuit"

say "Successfully short circuited with stop"

// opt := !Str
// opt or= "optstring"
// fail unless opt == "optstring"
