t := @{"abc"=>1, "def"=>2}
>>> t
=== @{"abc"=>1, "def"=>2}

>>> t.length
=== 2

>>> t["abc"]
=== 1

>>> "abc" in t
=== yes

>>> t["cba"[.. by -1]]
=== 1

>>> t["abc"] += 10
>>> t
=== @{"abc"=>11, "def"=>2}

>>> t["new_key"] = 3
>>> t
=== @{"abc"=>11, "def"=>2, "new_key"=>3}
>>> t["new_key"]
=== 3

>>> del t["abc"]
>>> t
=== @{"new_key"=>3, "def"=>2}

>>> t2 := {{1=>2}=>yes}
>>> t2
=== {{1=>2}=>yes}
>>> t2[{1=>2}]
=== yes

// Fallbacks:
>>> t := @{1=>10, 2=>20; fallback={3=>33}}
>>> t
=== @{1=>10, 2=>20; fallback={3=>33}}
>>> t[3]
=== 33
>>> t[3] *= 100
>>> t
=== @{1=>10, 2=>20, 3=>3300; fallback={3=>33}}

// Defaults:
>>> t := @{1=>10, 2=>20; default=10}
>>> t[3]
=== 10
>>> t[3] += 1
>>> t
=== @{1=>10, 2=>20, 3=>11; default=10}

// Both:
>>> t := @{1=>10, 2=>20; fallback={3=>33}; default=10}
>>> t[3]
=== 33
>>> t[3] += 1
>>> t[4] += 1
>>> t
// === @{1=>10, 2=>20, 3=>34, 4=>11; fallback={3=>33}; default=10}
// >>> t.default
// === @10
// >>> t.fallback
// === @{3=>33}

// Equality:
>>> {1=>2} == {1=>2; default=0}
=== no
>>> {1=>2; default=99} == {1=>2; default=0}
=== no
>>> {1=>2; default=99} == {1=>2; default=99}
=== yes

>>> {1=>2; fallback={2=>3}} == {1=>2}
=== no

>>> {1=>2; fallback={2=>3}} == {1=>2; fallback={2=>3}}
=== yes

// Mutating/accessing defaults and fallbacks:
>>> t := @{1=>2; fallback={4=>5}; default=99}
>>> t.has_default
=== yes
>>> t.default
=== 99
>>> del t.default
>>> t
=== @{1=>2; fallback={4=>5}}
>>> t.default = 345
>>> t
=== @{1=>2; fallback={4=>5}; default=345}
>>> t[-1]
=== 345

>>> del t.fallback
>>> t
=== @{1=>2; default=345}
>>> t[4]
=== 345
>>> t.fallback = {9=>10}
>>> t
=== @{1=>2; fallback={9=>10}; default=345}
>>> t[9]
=== 10

// Order-independence
>>> t1 := {1=>2, 3=>4}
>>> "$t1" // String representation keeps order:
=== "{1=>2, 3=>4}"
>>> t2 := {3=>4, 1=>2}
>>> "$t2" // String representation keeps order:
=== "{3=>4, 1=>2}"
>>> t1 == t2 // Equality despite different insertion orders
=== yes
>>> t3 := {t1=>123}
>>> t3[t1] // Tables can be used as table keys
=== 123
>>> t3[t2] // t1==t2 ==> t3[t1]==t3[t2]
=== 123

// Complicated hash functions:
>>> {{1,2}=>3}[{1,2}]
=== 3
>>> {{"hi"}=>3}[{"hi"}]
=== 3
>>> {{"hi",1}=>3}[{"hi",1}]
=== 3
>>> t := {{"one", 1}=>yes}
>>> t[{"one", 1}]
=== yes
>>> t[{"eno"[..by -1], 1}]
=== yes
>>> {{{1=>2}, [2,3]}=>yes}[{{1=>2}, [2,3]}]
=== yes
>>> {{{1=>2}}=>yes}[{{1=>2}}]
=== yes
>>> t := {{"abc"}=>yes}
>>> t[{"abc"}]
=== yes
>>> t[{"cba"[..by -1]}]
=== yes
>>> k := [`c, `_, `b, `_, `a]
>>> t[{k[..by -2]}]
=== yes
