
>>> smile := "smile: 😀"
>>> smile
=== "smile: \xF0\x9F\x98\x80"
say "$smile"
>>> #smile
=== 11
>>> unicode := use ../stdlib/unicode.sss
>>> unicode.length(smile)
=== 8
>>> unicode.width(smile)
=== 9
>>> codepoints := unicode.codepoints(smile)
>>> codepoints
=== [115_i32, 109_i32, 105_i32, 108_i32, 101_i32, 58_i32, 32_i32, 128512_i32]
>>> unicode.from_codepoints(codepoints) == smile
=== yes

>>> amelie := "Amélie"
>>> #amelie
=== 7
>>> unicode.length(amelie)
=== 6
>>> unicode.width(amelie)
=== 6
>>> unicode.codepoints(amelie)
=== [65_i32, 109_i32, 233_i32, 108_i32, 105_i32, 101_i32]
>>> amelie_alt := unicode.from_codepoints([0x41i32, 0x6di32, 0x65i32, 0x301i32, 0x6ci32, 0x69i32, 0x65i32])
>>> amelie == amelie_alt
=== no
say "$:amelie $:amelie_alt"
>>> unicode.normalize(amelie) == amelie_alt
=== yes
>>> unicode.normalize(amelie_alt) == amelie_alt
=== yes
>>> unicode.lowercased(amelie) == "amélie"
=== yes
>>> unicode.uppercased(amelie) == "AMÉLIE"
=== yes
>>> unicode.titlecased(unicode.lowercased(amelie)) == amelie
=== yes

>>> unicode.is_valid(smile)
=== yes
>>> unicode.is_valid("\xFF\xFF")
=== no

>>> c := unicode.first_codepoint("😀...")
>>> unicode.is_emoji(c)
=== yes
