
struct MyFile{name:Str}
    func open(name:Str)->MyFile
        say "Opening file '$name'"
        return MyFile{name}

    func close(f:MyFile)
        say "Closing file $f"

with MyFile.open("first")
    say "Automatic .close()ing:"

say ""

with f := MyFile.open("second")
    say "$:f Automatic .close()ing:"

say ""

with f := MyFile.open("third") then say "Not closing $f"
    say "$:f custom cleanup:"
